<div class="content">
  <app-add-article></app-add-article>
  <mat-list>
    <h3 mat-subheader>Articles</h3>
    <mat-list-item *ngFor="let article of articles">
      <img *ngIf="article.pictureUrl"
           mat-list-avatar
           (click)="onOpenPicture(article)"
           [src]="article.pictureUrl"
           [alt]="article.name">
      <img *ngIf="!article.pictureUrl"
           mat-list-avatar
           src="assets/logo.svg"
           [alt]="article.name">
      <div mat-line class="article-line">
        <h4 class="article-title">{{article.name}}</h4>
        <div class="article-tools">
          <button mat-mini-fab color="primary" (click)="addPicture(article)">
            <span class="fa fa-camera"></span>
          </button>
          <button mat-mini-fab color="primary" (click)="onUpdate(article)">
            <span class="fa fa-pencil-alt"></span>
          </button>
          <button mat-mini-fab color="warn" (click)="onDelete(article)">
            <span class="fa fa-trash"></span>
          </button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</div>
