<div class="tt__card">
    <header>
        <h1>{{title}}</h1>
    </header>
    <div class="content">
        <div class="tt__form">
            <div class="tt__toggle" *ngFor="let feature of features; let i = index">
                <label [for]="i">{{ feature.key }}</label>
              <mat-checkbox [ngModel]="feature.supported" [id]="i" disabled [ngModelOptions]="{standalone: true}">
                <span class="sr-only">Check</span>
              </mat-checkbox>
            </div>
        </div>
    </div>
</div>
