<div class="tt__card">
  <div class="content" *ngIf="isLoggedIn()">

    <form #formCreate="ngForm" (ngSubmit)="onCreate(formCreate)" novalidate>
      <mat-form-field>
        <input matInput
               type="number"
               placeholder="Number"
               min="1"
               name="nbr"
               [(ngModel)]="newItem.nbr"
               required>
      </mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="Name"
               name="name"
               [(ngModel)]="newItem.name" required>
      </mat-form-field>
      <button mat-raised-button color="primary">Create New Article</button>
    </form>
    <form
      #formUpdate="ngForm" novalidate>
      <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="check">
          <mat-header-cell *matHeaderCellDef> Check</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <mat-checkbox [(ngModel)]="item.check" (change)="onChange(item)" [ngModelOptions]="{standalone: true}">
              <span class="sr-only">Check</span>
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <span *ngIf="!item.edit" [ngClass]="{'checked': item.check}">{{item.name}} </span>
            <mat-form-field *ngIf="item.edit">
              <input matInput [(ngModel)]="item.name" required [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Nbr Column -->
        <ng-container matColumnDef="nbr">
          <mat-header-cell *matHeaderCellDef> Nbr</mat-header-cell>
          <mat-cell *matCellDef="let item">
            <span *ngIf="!item.edit" [ngClass]="{'checked': item.check}">{{item.nbr}} </span>
            <mat-form-field *ngIf="item.edit">
              <input matInput type="number" [(ngModel)]="item.nbr" required [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
          <mat-cell *matCellDef="let item">

            <button *ngIf="item.edit" mat-raised-button color="primary" (click)="onUpdate(formUpdate, item)">Save</button>
            <button *ngIf="!item.edit" mat-button color="primary" (click)="item.toggleEdit()">
              <span class="fa fa-pencil-alt"></span>
            </button>
            <button mat-raised-button color="warn" (click)="onDelete(item)">
              <span class="fa fa-trash"></span>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </form>
  </div>
  <div class="content" *ngIf="!isLoggedIn()">
    Please connect to get shopping list
  </div>
</div>
